@keyframes Pic1 {
    from {margin-left: -25%;}
    to {margin-left: 0%;}
}

@keyframes glide1 {
    from {margin-left: -20%;}
    to {margin-left: 30%;}
}

@keyframes glide2 {
    from {margin-left: -20%;}
    to {margin-left: 45%;}
}


#topbar{
    position: fixed;
    height: 80px;
    width: 100%;
    background-color: grey;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    padding-left: 1%;
    margin-left: -1%;
}

#ThemeButton{
    height: 40px;
    width: 8%;
    margin-top: 20px;
    margin-left: 70%;
    border-radius: 10px;
}

#coverup{
    height: 80px;
    width: 100%;
    background-color: grey;
    font-size: 30px;
    margin-top: -1%;
}


#AboutMe{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


#Part1{
    margin-top: 2%;
    font-size: 35px;
    width: 100%;
}

#Picture1{
    width: 15%;
    animation-duration: 750ms;
    animation-delay: 1000ms;
    animation-name: Pic1;
}

#Text1{
    margin-left: 30%;
    font-size: 400%;
    animation-duration: 750ms;
    animation-delay: 1000ms;
    animation-name: glide1;
}

#ColorText1{
    color: red;
}

#ColorText2{
    color: chartreuse;
}

#ColorText3{
    color: yellow;
}

#ColorText4{
    color: orangered;
}

#ColorText5{
    color: blue;
}

#ColorText6{
    color: yellowgreen;
}

#ColorText7{
    color: darkblue;
}

#ColorText8{
    color: #5865F2;
}

#ColorText9{
    color: blue;
}

#Picture2{
    width: 15%;
    margin-left: 85%;
}

#Sec2{
    margin-top: 5%;
}

#Text2{
    margin-left: 45%;
    font-size: 35px;
    animation-duration: 750ms;
    animation-delay: 1000ms;
    animation-name: glide2;
}

#Text3{
    font-size: 35px;
    animation-duration: 750ms;
    animation-delay: 1000ms;
    animation-name: Pic1;
}

#Text4{
    font-size: 35px;
    animation-duration: 750ms;
    animation-delay: 1000ms;
    animation-name: Pic1;
}

#FeedbackButton{
    text-decoration: wavy;
    height: 20px;
    border-radius: 10px;
    background-image: linear-gradient(to right, #9818c0, #e2645b);
}

a{
    text-decoration: none;
}

html{
    height: 100%;
    width: 100%;
    margin-left: -0.4%;
}
